.example-spacer {
    flex: 1 1 auto;
  }

.logo{
    max-height: 100px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
}

h1{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  padding-top: 20px;
  font-size: 30px;

}

mat-toolbar{
  background-color: #4682B4;
}